# Visual Studio generated .editorconfig file with C++ settings.
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
spelling_exclusion_path = exclusion.dic

# bash scripts
[*.{sh,bash}]
end_of_line = lf

[*.{c,h,c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]
indent_size = 4
tab_width = 4
cpp_space_pointer_reference_alignment = left
